{% extends '../base.html' %}

{% block title %}Administrar Usuarios{% endblock %}

{% block contenido %}
<h1>Administrar Usuarios</h1>
<a href="{% url 'admin_agregar_usuario' %}" class="btn btn-success mb-3">Agregar Usuario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td {% if usuario.baneado %}style="color: red; font-weight: bold;"{% endif %}>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <a href="{% url 'admin_editar_usuario' usuario.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'admin_eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                <a href="{% url 'admin_ver_usuario' usuario.id %}" class="btn btn-primary btn-sm">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
